<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Shopping Cart</h1>
      <hr>
      <h3>Items</h3>
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Items</th>
          <th>Qty.</th>
          <th>Price</th>
          <th></th>
        </tr>
        <tr *ngFor="let item of items; let i = index" >
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td><input type="number" name="number" id="number" #qty></td>
          <!-- <td>{{item.price}}</td> -->
          <td>{{items[i].price}}</td>          
          <td><button class="btn btn-primary" (click)="addItem(i, qty)">Add</button></td>
        </tr>
      </table>
      <hr>
      <h3>My cart</h3>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Id</th>
          <th>name</th>
          <th>Qty</th>
          <th>price</th>
          <th></th>
          <th></th>          
        </tr>
        <tbody>
          <tr class="app-cart" [item]="item" *ngFor="let item of shoppingCart; let i = index" (remove)="removeItem(i)"></tr >
        </tbody>
      </table>
      <p>{{shoppingCart[0].qty}}</p>
    </div>
  </div>
</div>